<ion-content [scrollY]="false" [fullscreen]="true">
  <div class="main">
    <div class="stage">
      <h1 class="title">Welcome to your planet !</h1>
      <app-planet-half
        [planetName]="player.planet_name!"
        [side]="player.side!"
        [points]="player.points"
      ></app-planet-half>
      <div class="today-status" (click)="showNotification = true">
        <h2>Daily Pixels</h2>
        <app-bonus-progress-bar
          class="progress"
          [point]="todayPoint"
        ></app-bonus-progress-bar>
        <h2>Bonus Stars</h2>
        <div
          class="bonus"
          [ngClass]="{'is-active': todayPoint.value >= DAILY_BONUS_GRANT,
          'is-super': todayPoint.value >= DAILY_SUPER_GRANT}"
        ></div>
      </div>
    </div>
    <div *ngIf="showNotification" class="notify">
      <div class="content">
        <h1>Daily Pixels</h1>
        <p>
          By taking 750 steps, you will earn one pixels. It is up to ten pixels
          per day.
        </p>
        <h1>Bonus Stars</h1>
        <p>
          If you take more than 7500 steps, you will be reward by a bonus stars.
          The more steps you take, your star will be more shining.
        </p>
      </div>
      <button (click)="showNotification=false">Confirm</button>
    </div>
  </div>
</ion-content>
